


$color_light_gray: #F4F4F4;



// Social media colors:
$color_facebook: rgb(59, 89, 153);
$color_twitter: rgb(48, 169, 214);
$color_instagram: rgb(18, 86, 136);
$color_pinterest: rgb(189, 8, 28);
$color_google_plus: rgb(224, 74, 50);
$color_youtube: rgb(204, 24, 30);
